<div class="contact__item d-md-none">
  <div class="contact__zalo">
    <a href="tel:0964800790">
      <img
        src="./assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item d-none d-md-block">
  <div class="contact__zalo">
    <a href="https://zaloapp.com/qr/p/17yb7gowyt542?src=qr">
      <img
        src="./assets/image/icon/zalo.svg"
        alt="zalo"
        class="contact__icon"
      />
    </a>
  </div>
</div>
<div class="contact__item" style="margin-top: 20px">
  <div class="contact__phone">
    <a href="tel:0964800790">
      <img src="./assets/image/icon/phone.svg" alt="" class="contact__icon" />
    </a>
  </div>
</div>
