<div class="container">
  <div class="footer__row">
    <div class="footer__col">
      <h3 class="footer__heading">Bài Viết</h3>
      <ul class="footer__list">
        <li>
          <a
            href="https://goixetructuyen.click/post/grabbienhoa"
            class="footer__link"
            >Grab Biên Hòa</a
          >
        </li>
        <li>
          <a
            href="https://goixetructuyen.click/post/grablongbinh"
            class="footer__link"
            >Grab long bình</a
          >
        </li>
        <li>
          <a
            href="https://goixetructuyen.click/post/grab-an-binh"
            class="footer__link"
            >Grab An Bình</a
          >
        </li>
        <li>
          <a
            href="https://goixetructuyen.click/post/grabtamhiep"
            class="footer__link"
            >Grab Tam Hiệp</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">help</h3>
      <ul class="footer__list">
        <li>
          <a href="https://grab.com.vn" class="footer__link">Contact Us</a>
        </li>
        <li>
          <a href="https://grab.com.vn" class="footer__link">FAQ</a>
        </li>
        <li>
          <a href="https://grab.com.vn" class="footer__link">Accessibility</a>
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <h3 class="footer__heading">Thông Tin Liên Hệ</h3>
      <ul class="footer__list">
        <li>
          <a href="tel:0559439469" class="footer__link"
            >Hotline: 0559 429 479</a
          >
        </li>
        <li>
          <a href="#!" class="footer__link">
            Adress : 681 bui văn hoa street,bien hoa city ,Đong Nai,VietNam
            country
          </a>
        </li>
        <li>
          <a href="http://GOIXETRUCTUYEN.CLICK" class="footer__link"
            >website:GOIXETRUCTUYEN.CLICK</a
          >
        </li>
        <li>
          <a href="mailto:nhanvien369gs@gmail.com.vn" class="footer__link"
            >Email:nhanvien369gs@gmail.com.vn</a
          >
        </li>
      </ul>
    </div>
    <div class="footer__col">
      <div class="footer__logo">
        <a href="/" class="logo d-flex">
          <img
            src="./assets/image/icon/LOGO.svg"
            alt="LOGO"
            class="logo__icon"
          />
          <h2 class="logo__title">
            <a href="http://GOIXETRUCTUYEN.CLICK">GOIXETRUCTUYEN.CLICK</a>
          </h2>
        </a>
      </div>
      <form action="" class="footer__form">
        <div class="footer__form-email">
          <input
            type="email"
            class="footer__form-input btn--rounded btn"
            placeholder="Email Adress"
          />
          <button class="footer__form-submit btn--rounded btn btn--primary">
            Send
          </button>
        </div>
        <label for="" class="footer__label"
          >Tiết kiệm 10% khi đặt trước khứ hồi</label
        >
      </form>
      <div class="footer__social">
        <a href="https://www.facebook.com" class="footer__social-link">
          <img
            src="./assets/image/icon/facebook.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="https://www.tiktok.com" class="footer__social-link">
          <img
            src="./assets/image/icon/tiktok.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="https://www.linkedin.com" class="footer__social-link">
          <img
            src="./assets/image/icon/linkedin.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="https://www.instagram.com" class="footer__social-link">
          <img
            src="./assets/image/icon/instagram.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="https://www.twitter.com" class="footer__social-link">
          <img
            src="./assets/image/icon/twitter.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
        <a href="https://www.youtube.com" class="footer__social-link">
          <img
            src="./assets/image/icon/youtube.png"
            alt=""
            class="footer__social-icon"
          />
        </a>
      </div>
    </div>
  </div>
  <div class="footer__bottom">
    <p class="footer__coppyright">
      © 2010 - 2025 GOIXETRUCTUYEN.CLICK . All rights reserved.
    </p>
  </div>
</div>
