<section class="viewpost__wrap">
  <figure class="viewpost__media">
    <img
      src="../assets/image/thumb/post/post07.jpg"
      alt="Grab Thành phố Mới Bình Dương"
      class="viewpost__thumb"
      loading="lazy"
    />
  </figure>
  <h3 class="viewpost__title">
    <a href="https://goixetructuyen.click/post/grab-thanh-pho-moi-binh-duong"
      >Grab Thành phố Mới Bình Dương :đặt xe máy , taxi Thành phố Mới bình dương
      0559.439.469</a
    >
  </h3>
  <p class="viewpost__desc">
    Grab Thành phố Mới Bình Dương - dịch cụ đặt xe an toàn - uy tín - tiết
    kiệm.Tổng đài grab Thành phố Mới Bình Dương phục vụ 24/7 luôn sẵn sàng hỗ
    trợ.
  </p>
  <a
    class="viewpost__btn btn--rounded btn btn--primary"
    href="https://goixetructuyen.click/post/grab-thanh-pho-moi-binh-duong"
    >Đọc Bài Viết</a
  >
</section>
