<section class="viewpost__wrap">
  <figure class="viewpost__media">
    <img
      src="../assets/image/thumb/post/post01.jpg"
      alt="Grab Bình Dương"
      class="viewpost__thumb"
      loading="lazy"
    />
  </figure>
  <h3 class="viewpost__title">
    <a href="https://goixetructuyen.click/post/grab-binh-duong"
      >Grab Bình Dương - Tổng đài đặt xe Bình Dương Dĩ An Bình Dương
      0559.439.469</a
    >
  </h3>
  <p class="viewpost__desc">
    Grab Bình Dương - Đặt xe grab Bình Dương an toàn - uy tín - tiết kiệm.Tổng
    đài grab Bình Dương phục vụ 24/7 không lo về giá.
  </p>
  <a
    class="viewpost__btn btn--rounded btn btn--primary"
    href="https://goixetructuyen.click/post/grab-binh-duong"
    >Đọc Bài Viết</a
  >
</section>
