<section class="viewpost__wrap">
  <figure class="viewpost__media">
    <img
      src="../assets/image/thumb/post/post04.jpg"
      alt="Grab Tân Uyên Bình Dương"
      class="viewpost__thumb"
      loading="lazy"
    />
  </figure>
  <h3 class="viewpost__title">
    <a href="https://goixetructuyen.click/post/grab-tan-uyen-binh-duong"
      >Grab Tân Uyên Bình Dương :đặt xe máy taxi Tân Uyên bình dương
      0559.439.469</a
    >
  </h3>
  <p class="viewpost__desc">
    Grab Tân Uyên Bình Dương - dịch cụ đặt xe an toàn - uy tín - tiết kiệm.Tổng
    đài grab Tân Uyên Bình Dương phục vụ 24/7 luôn sẵn sàng hỗ trợ.
  </p>
  <a
    class="viewpost__btn btn--rounded btn btn--primary"
    href="https://goixetructuyen.click/post/grab-tan-uyen-binh-duong"
    >Đọc Bài Viết</a
  >
</section>
